@font-face {
  font-family: "Achemine";
  src: url("/achemine_bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Achemine";
  src: url("/achemine_regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Achemine";
  src: url("/achemine_italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Parisine";
  src: url("/Parisine-Bold.otf");
  font-weight: bold;
}

:root {
  --equipment-background: #166d71;
  --alert-background: #FA0101;
  --worksite-background: #F45206;
  --high-congestion: #E8565C;
  --medium-congestion: #DA7A2C;
  --low-congestion: #58A470;
  --text: white;
  --text-light: #CCC;
  --background: #171a3c;
  --highlight: #464863;
  --surface: #2B3151;
  --surface-border: #50516C;
}

body {
  background-color: var(--text-light);
  font-family: Achemine, Verdana, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}